In [8]:
#pykrx모듈

In [9]:
from pykrx import stock

In [10]:
df = stock.get_market_ohlcv_by_date('20201018','20201118','005930')
print(df)

               시가     고가     저가     종가       거래량
날짜
2020-10-19  59600  60200  59500  60000  14474985
2020-10-20  60300  60900  60100  60900  19326115
2020-10-21  61200  61500  60600  60900  15703443
2020-10-22  60300  60500  59800  60100  14294095
2020-10-23  60400  60400  59800  60200   9322232
2020-10-26  60400  61100  60100  60400  13268226
2020-10-27  60300  60300  59500  59800  17260416
2020-10-28  59400  59400  58800  59000  14428882
2020-10-29  58200  58500  57500  58100  22636966
2020-10-30  58000  58000  56600  56600  26907844
2020-11-02  56400  57500  56000  57400  20489076
2020-11-03  57900  58900  57600  58800  14950919
2020-11-04  58900  59000  57800  58500  21718561
2020-11-05  59000  60300  58800  60300  20639475
2020-11-06  60700  60800  59600  60100  16910230
2020-11-09  60700  60900  60100  60200  15892961
2020-11-10  60500  60500  59500  60200  19073552
2020-11-11  60700  61400  60400  61300  25628510
2020-11-12  61000  61400  60700  61000  19800573
2020-11-13  61300  63200  61000  63200  31508829
2020-11-16  64000  66700  63900  66300  36354334
2020-11-17  67000  67000  65600  65700  30204089
2020-11-18  65700  66200  64700  64800  22963790

In [11]:
print(df.loc[['2020-11-17'],['종가']])

               종가
날짜
2020-11-17  65700

In [12]:
df[df['종가']>df['시가']]

               시가     고가     저가     종가       거래량
날짜
2020-10-19  59600  60200  59500  60000  14474985
2020-10-20  60300  60900  60100  60900  19326115
2020-11-02  56400  57500  56000  57400  20489076
2020-11-03  57900  58900  57600  58800  14950919
2020-11-05  59000  60300  58800  60300  20639475
2020-11-11  60700  61400  60400  61300  25628510
2020-11-13  61300  63200  61000  63200  31508829
2020-11-16  64000  66700  63900  66300  36354334

In [13]:
#칼럼 시프트

In [17]:
samsung_1 = stock.get_market_ohlcv_by_date('20201018','20201118','005930')

#전날 거래량 만들기
samsung_1['전날거래량'] = samsung_1['거래량'].shift(1)

#전날 거래량 열 확인 
samsung_1

               시가     고가     저가     종가       거래량       전날거래량
날짜
2020-10-19  59600  60200  59500  60000  14474985         NaN
2020-10-20  60300  60900  60100  60900  19326115  14474985.0
2020-10-21  61200  61500  60600  60900  15703443  19326115.0
2020-10-22  60300  60500  59800  60100  14294095  15703443.0
2020-10-23  60400  60400  59800  60200   9322232  14294095.0
2020-10-26  60400  61100  60100  60400  13268226   9322232.0
2020-10-27  60300  60300  59500  59800  17260416  13268226.0
2020-10-28  59400  59400  58800  59000  14428882  17260416.0
2020-10-29  58200  58500  57500  58100  22636966  14428882.0
2020-10-30  58000  58000  56600  56600  26907844  22636966.0
2020-11-02  56400  57500  56000  57400  20489076  26907844.0
2020-11-03  57900  58900  57600  58800  14950919  20489076.0
2020-11-04  58900  59000  57800  58500  21718561  14950919.0
2020-11-05  59000  60300  58800  60300  20639475  21718561.0
2020-11-06  60700  60800  59600  60100  16910230  20639475.0
2020-11-09  60700  60900  60100  60200  15892961  16910230.0
2020-11-10  60500  60500  59500  60200  19073552  15892961.0
2020-11-11  60700  61400  60400  61300  25628510  19073552.0
2020-11-12  61000  61400  60700  61000  19800573  25628510.0
2020-11-13  61300  63200  61000  63200  31508829  19800573.0
2020-11-16  64000  66700  63900  66300  36354334  31508829.0
2020-11-17  67000  67000  65600  65700  30204089  36354334.0
2020-11-18  65700  66200  64700  64800  22963790  30204089.0

In [24]:
#전날 거래량과 현재 거래량을 비교하는 조건문을 만들기

cond = samsung_1['거래량']>samsung_1['전날거래량']
samsung_1[cond]

               시가     고가     저가     종가       거래량       전날거래량
날짜
2020-10-20  60300  60900  60100  60900  19326115  14474985.0
2020-10-26  60400  61100  60100  60400  13268226   9322232.0
2020-10-27  60300  60300  59500  59800  17260416  13268226.0
2020-10-29  58200  58500  57500  58100  22636966  14428882.0
2020-10-30  58000  58000  56600  56600  26907844  22636966.0
2020-11-04  58900  59000  57800  58500  21718561  14950919.0
2020-11-10  60500  60500  59500  60200  19073552  15892961.0
2020-11-11  60700  61400  60400  61300  25628510  19073552.0
2020-11-13  61300  63200  61000  63200  31508829  19800573.0
2020-11-16  64000  66700  63900  66300  36354334  31508829.0

In [29]:
#전날 거래량에 비해 거래량이 증가한 일자 세기
print("거래일: " , len(samsung_1))
print('상승일: ',len(samsung_1[cond]) )

거래일:  23
상승일:  10

In [35]:
#전날 종가에 비해 상승출발한 day세기 
cond = samsung_1['시가'] > samsung_1['종가']
samsung_1[cond]
#print('시초가 상승 day: ', len(samsung_1[cond]))

               시가     고가     저가     종가       거래량       전날거래량
날짜
2020-10-21  61200  61500  60600  60900  15703443  19326115.0
2020-10-22  60300  60500  59800  60100  14294095  15703443.0
2020-10-23  60400  60400  59800  60200   9322232  14294095.0
2020-10-27  60300  60300  59500  59800  17260416  13268226.0
2020-10-28  59400  59400  58800  59000  14428882  17260416.0
2020-10-29  58200  58500  57500  58100  22636966  14428882.0
2020-10-30  58000  58000  56600  56600  26907844  22636966.0
2020-11-04  58900  59000  57800  58500  21718561  14950919.0
2020-11-06  60700  60800  59600  60100  16910230  20639475.0
2020-11-09  60700  60900  60100  60200  15892961  16910230.0
2020-11-10  60500  60500  59500  60200  19073552  15892961.0
2020-11-17  67000  67000  65600  65700  30204089  36354334.0
2020-11-18  65700  66200  64700  64800  22963790  30204089.0

In [36]:
#이동평균 데이터 구하기

In [63]:
#5일 이동평균선 구하기 
samsung_2 = stock.get_market_ohlcv_by_date('20200803','20201118','005930')

samsung_2['5일 이동평균'] = samsung_2['종가'].rolling( window = 5).mean()
#종가를 기준으로 pandas의 rolling을 이용 평균까지 구하기

In [64]:
print(samsung_2)

               시가     고가     저가     종가       거래량  5일 이동평균
날짜
2020-08-03  57800  57900  56700  56800  21158940      NaN
2020-08-04  57200  58100  57000  57300  19419694      NaN
2020-08-05  57300  57500  56300  56900  17739706      NaN
2020-08-06  57100  58400  57100  58000  21625874      NaN
2020-08-07  57900  58400  57100  57500  18751717  57300.0
...           ...    ...    ...    ...       ...      ...
2020-11-12  61000  61400  60700  61000  19800573  60560.0
2020-11-13  61300  63200  61000  63200  31508829  61180.0
2020-11-16  64000  66700  63900  66300  36354334  62400.0
2020-11-17  67000  67000  65600  65700  30204089  63500.0
2020-11-18  65700  66200  64700  64800  22963790  64200.0

[73 rows x 6 columns]

In [66]:
#주어진 기간동안 시가가 5일 이동평균선을 돌파하는 횟수를 세어보기

#5일 이동평균이 당일의 종가를 합산하여 계산 된 것이기 때문에 다음날의 시가와 비교

cond = samsung_2['5일 이동평균'].shift(1) < samsung_2['시가']

#cond = samsung_2['5일 이동평균'] > samsung_2['시가'].shift(-1)

samsung_2[cond]

               시가     고가     저가     종가       거래량  5일 이동평균
날짜
2020-08-10  57600  58300  57500  57800  17774291  57500.0
2020-08-11  58000  59500  57800  58200  24907912  57680.0
2020-08-12  58200  59000  57700  59000  18573934  58100.0
2020-08-13  59400  59600  58000  58700  22089460  58240.0
2020-08-18  58900  59900  58000  58400  25307825  58460.0
2020-08-19  59000  59200  57800  57800  16930719  58380.0
2020-08-26  56400  56500  55700  56400  17651593  56040.0
2020-08-27  56300  56300  55600  55600  16196568  56080.0
2020-08-28  56100  56300  55400  55400  14619888  55980.0
2020-08-31  56000  56100  54000  54000  32671367  55560.0
2020-09-03  55600  56700  55500  56400  28384920  54880.0
2020-09-04  55200  55800  55100  55600  22139109  54920.0
2020-09-07  56100  57300  55800  56500  18685880  55420.0
2020-09-08  57400  58700  57200  58700  31517520  56320.0
2020-09-09  58200  59300  57800  58400  30597399  57120.0
2020-09-10  59900  60000  59100  59200  29923293  57680.0
2020-09-11  59300  59400  58200  59000  16017098  58360.0
2020-09-14  60200  60800  59900  60400  20648281  59140.0
2020-09-15  60900  61000  60500  61000  17877075  59600.0
2020-09-16  61100  61300  60600  61000  17041444  60120.0
2020-09-17  60700  60800  59300  59500  25108356  60180.0
2020-09-29  58300  59000  58200  58200  15503563  58140.0
2020-10-06  59400  59900  58700  59000  14463826  58400.0
2020-10-07  58700  59900  58500  59900  14861838  58800.0
2020-10-08  60500  60700  59500  59700  24589924  59100.0
2020-10-12  60000  60400  59900  60400  16145837  59540.0
2020-10-13  61000  61400  60400  60900  19247631  59980.0
2020-10-14  61000  61100  60500  60900  16086716  60360.0
2020-10-15  60700  60800  59700  60000  17756232  60380.0
2020-10-20  60300  60900  60100  60900  19326115  60260.0
2020-10-21  61200  61500  60600  60900  15703443  60260.0
2020-10-22  60300  60500  59800  60100  14294095  60280.0
2020-10-23  60400  60400  59800  60200   9322232  60420.0
2020-11-04  58900  59000  57800  58500  21718561  57880.0
2020-11-05  59000  60300  58800  60300  20639475  58320.0
2020-11-06  60700  60800  59600  60100  16910230  59020.0
2020-11-09  60700  60900  60100  60200  15892961  59580.0
2020-11-10  60500  60500  59500  60200  19073552  59860.0
2020-11-11  60700  61400  60400  61300  25628510  60420.0
2020-11-12  61000  61400  60700  61000  19800573  60560.0
2020-11-13  61300  63200  61000  63200  31508829  61180.0
2020-11-16  64000  66700  63900  66300  36354334  62400.0
2020-11-17  67000  67000  65600  65700  30204089  63500.0
2020-11-18  65700  66200  64700  64800  22963790  64200.0

In [67]:
print('거래일: ', len(samsung_2))
print('거래일: ', len(samsung_2[cond]))

거래일:  73
거래일:  44

In [68]:
#데이터 샘플링 (data sampling)

In [69]:
#월 단위로 데이터 샘플링

#frst() last()는 sampling시 대표값을 선정하는 기준이지 월초 월말이 아님 대신 데이터가 달라진다

mon = samsung_2.resample('M').last()
print(mon)

               시가     고가     저가     종가       거래량  5일 이동평균
날짜
2020-08-31  56000  56100  54000  54000  32671367  55560.0
2020-09-30  58300  59000  58200  58200  15503563  58140.0
2020-10-31  58000  58000  56600  56600  26907844  58780.0
2020-11-30  65700  66200  64700  64800  22963790  64200.0

In [70]:
#월별로 데이터를 수집하되 월초의 데이터로 수집하고 싶을 때

mons = samsung_2.resample('MS').first()
print(mons)

               시가     고가     저가     종가       거래량  5일 이동평균
날짜
2020-08-01  57800  57900  56700  56800  21158940  57300.0
2020-09-01  54100  54800  54100  54200  19363117  55120.0
2020-10-01  57500  59200  57500  58700  20228289  58160.0
2020-11-01  56400  57500  56000  57400  20489076  58180.0

In [72]:
#이렇게 월초의 데이터가 나오는데 월초의 행이 전부가 나오므로 월별 sampling이라 하기가 어렵다 


print(samsung_2)

               시가     고가     저가     종가       거래량  5일 이동평균
날짜
2020-08-03  57800  57900  56700  56800  21158940      NaN
2020-08-04  57200  58100  57000  57300  19419694      NaN
2020-08-05  57300  57500  56300  56900  17739706      NaN
2020-08-06  57100  58400  57100  58000  21625874      NaN
2020-08-07  57900  58400  57100  57500  18751717  57300.0
...           ...    ...    ...    ...       ...      ...
2020-11-12  61000  61400  60700  61000  19800573  60560.0
2020-11-13  61300  63200  61000  63200  31508829  61180.0
2020-11-16  64000  66700  63900  66300  36354334  62400.0
2020-11-17  67000  67000  65600  65700  30204089  63500.0
2020-11-18  65700  66200  64700  64800  22963790  64200.0

[73 rows x 6 columns]

In [71]:
#실제 주가 데이터에서는 first last만으로 나타내기 어려움 시가는 시작가 종가는 종가 고가는 최고가등 주 월 단위의 특정 행 값이 필요한게 
#아님.

#apply 활용

how = {
    '시가':'first',
    '종가':'last',
    '고가':'max',
    '저가':'min',
    '거래량':'sum'
}

mon = samsung_2.resample('MS').apply(how)
print(mon)

               시가     종가     고가     저가        거래량
날짜
2020-08-01  57800  54000  59900  54000  401697954
2020-09-01  54100  58200  61300  54100  426302298
2020-10-01  57500  56600  61500  56600  327557687
2020-11-01  56400  64800  67000  56000  296134899

In [74]:
#수익률 계산 (pct_change())

In [84]:
samsung_2['전날 대비 수익률'] = samsung_2['종가'].pct_change()*100
samsung_2

               시가     고가     저가     종가       거래량  5일 이동평균  전날 대비 수익률
날짜
2020-08-03  57800  57900  56700  56800  21158940      NaN        NaN
2020-08-04  57200  58100  57000  57300  19419694      NaN   0.880282
2020-08-05  57300  57500  56300  56900  17739706      NaN  -0.698080
2020-08-06  57100  58400  57100  58000  21625874      NaN   1.933216
2020-08-07  57900  58400  57100  57500  18751717  57300.0  -0.862069
...           ...    ...    ...    ...       ...      ...        ...
2020-11-12  61000  61400  60700  61000  19800573  60560.0  -0.489396
2020-11-13  61300  63200  61000  63200  31508829  61180.0   3.606557
2020-11-16  64000  66700  63900  66300  36354334  62400.0   4.905063
2020-11-17  67000  67000  65600  65700  30204089  63500.0  -0.904977
2020-11-18  65700  66200  64700  64800  22963790  64200.0  -1.369863

[73 rows x 7 columns]

In [89]:
#n일전 데이터로 부터 수익률을 구하고 싶을 때 

samsung_2['전날 대비 수익률'] = samsung_2['종가'].pct_change(periods=2)
samsung_2

               시가     고가     저가     종가       거래량  5일 이동평균  전날 대비 수익률
날짜
2020-08-03  57800  57900  56700  56800  21158940      NaN        NaN
2020-08-04  57200  58100  57000  57300  19419694      NaN        NaN
2020-08-05  57300  57500  56300  56900  17739706      NaN   0.001761
2020-08-06  57100  58400  57100  58000  21625874      NaN   0.012216
2020-08-07  57900  58400  57100  57500  18751717  57300.0   0.010545
...           ...    ...    ...    ...       ...      ...        ...
2020-11-12  61000  61400  60700  61000  19800573  60560.0   0.013289
2020-11-13  61300  63200  61000  63200  31508829  61180.0   0.030995
2020-11-16  64000  66700  63900  66300  36354334  62400.0   0.086885
2020-11-17  67000  67000  65600  65700  30204089  63500.0   0.039557
2020-11-18  65700  66200  64700  64800  22963790  64200.0  -0.022624

[73 rows x 7 columns]

In [91]:
(56900-56800)/56800

0.0017605633802816902